.layout1{
    background-color: #999999;
    height: 57em;
}
.style1{
    margin-top: 50px;
}
.layout2{
    margin-top: 200px;
}
.layout3{
    text-align: center;
    margin-top: 100px;
}
.style2{
   padding: 12px 90px;
   border-radius: 40px;
}
.layout3{
    text-align: center;
}
.body2{
    background-color: #999999;
}
.style3{
    margin-bottom: 18px;
    font-family: cursive;
    text-shadow: 2px 2px 2px black;
}
.style4{
    margin-left: 5px;
    margin-top: 30px;
}
.layout5{
    display: flex;
    margin-top: 10px;
    padding: 40px;
    justify-content: center;
}
.fa-facebook-official{
    color:black;
  }
  .fa-twitter{
    color:black;
  }
  .fa-google{
      color: black;
  }
  a:hover i{
    transform: scale(1.4);
  }
  .layout6{
    background-color: #999999;
  }
 .top1{
     margin-top: 39px;
 }
